
p
{
	border-left:15px solid #008080;
	padding-left:10px;
	width:80%;
	font-size:22px;
	text-align:left;
}

ol 
{ 
	font-size:25px;
}
 ul 
 {
	border-left:15px solid #008080;
	padding-left:10px;
	width:80%;
	font-size:22px;
 }